body {
  overflow-x: hidden;
}

button {
  transition: 0.3s;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media(max-device-width:800px) {
  button:hover {
    background-color: transparent;
  }
}
.container {
  max-width: 1020px;
  margin: 0 auto;
}
input {
  outline: none;
}
