body {
  overflow-x: hidden;
}

button {
  transition: 0.3s;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}
input {
  outline: none;
}
