@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
body {
  overflow-x: hidden;
}
body * {
  font-family: "Noto Sans KR", sans-serif !important;
}

button {
  transition: 0.3s;
  color: $text-color;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 10px;
}

input {
  outline: none;
  text-indent: 8px;
}

@media (max-width:650px) {
  .mobile-hidden {
      display: none !important;
    }
}