.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 450px;
  border: 2px solid #3b2727;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #fff;
  z-index: 100;
  padding: 20px;
  .text-container {
    font-size: 1.2rem;
    font-weight: 700;
    .modal-black {
      color: $text-color;
    }
    .modal-text {
      color: $text-color;
    }
    .modal-red {
      color: #e52b50;
    }
    .modal-blue {
      color: blue;
    }
  }
  .text-container * {
    word-break: keep-all;
  }
  .button-container {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: space-evenly;
    .modal-button {
      color: $text-color;
      width: 5rem;
      font-size: small;
      font-weight: bold;
      padding: 0.5rem;
      border: 1px solid $text-color;
      border-radius: 4px;
      &:hover {
        background-color: $text-color;
        color: white;
      }
      &:active {
        background-color: #3b2727;
        position: relative;
        top: 2px;
      }
    }
    .single {
      width: 8rem;
    }
  }
}
