@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #603535;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  transition: 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.header {
  background-color: #36DA93;
}
.header .container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1020px;
}
.header .title {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-top: 14px;
  letter-spacing: 0.2em;
}
.header .title .logo {
  height: 32px;
  margin-left: 4px;
  color: transparent;
}
.header .login-area {
  text-align: right;
}
.header .login-area .login-button {
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  border: 1px solid #36DA93;
}
.header .search-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .search-area .filter-category {
  width: 5rem;
  height: 1.5rem;
  text-indent: 4px;
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  margin-right: 2px;
}
.header .search-area .search-keyword-box {
  height: 1.5rem;
  width: 60%;
  min-width: 160px;
  text-indent: 4px;
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}
.header .search-area .search-keyword-box .search-keyword-input {
  height: 100%;
  width: calc(100% - 2rem);
}
.header .search-area .search-keyword-box .submit {
  height: 100%;
  width: 1.5rem;
}

.middle-outlet {
  min-height: calc(100vh - 278px);
}

.footer {
  width: 100vw;
  background-color: #E6E6E6;
}
.footer .container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1020px;
}
.footer .footer-desc {
  text-align: center;
}
.footer .developers {
  display: flex;
  font-size: 0.8em;
}
.footer .developers .frontend, .footer .developers .backend {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
}

.concert-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.concert-category {
  color: #36DA93;
  text-indent: 20px;
  margin-top: 20px;
}

.concert-card {
  width: 200px;
  height: 380px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}
.concert-card .poster-box {
  text-align: center;
}
.concert-card .concert-poster {
  display: inline-block;
  margin: 0 auto;
}
.concert-card .concert-mini-info .info-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.concert-card .concert-mini-info .info-top-line .concert-title {
  font-size: 1em;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-top-line .like {
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 4px;
  font-weight: 700;
  transition: none;
}
.concert-card .concert-mini-info .info-top-line .like:hover {
  background-color: transparent;
}
.concert-card .concert-mini-info .info-bottom-line .reservation-tip {
  font-size: 0.8em;
  display: inline-block;
  padding: 2px;
  margin-top: 6px;
  font-weight: 700;
  color: #36DA93;
  border: 1px solid #36DA93;
  border-radius: 2px;
}
.concert-card .concert-mini-info .info-bottom-line .reservation-tip.hot {
  color: red;
  border-color: red;
}

.concert-card:hover {
  box-shadow: 4px 4px 10px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1016px) {
  .concert-card {
    margin: 0 calc((50vw - 416px) / 4);
  }
}
@media (max-width: 800px) {
  .concert-card {
    margin: 0 calc((50vw - 312px) / 3);
  }
}
@media (max-width: 600px) {
  .concert-card {
    margin: 0 calc((50vw - 210px) / 2);
  }
}
@media (max-width: 400px) {
  .concert-card {
    margin: 0 calc(50vw - 104px);
  }
}
.ad-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ad-carousel .ad-list {
  transition: transform 1s;
}
.ad-carousel .ad-list .slide {
  display: inline-block;
  padding: 30px 50px;
  background-color: pink;
  border: 1px solid blue;
}
.ad-carousel .ad-list .ad-desc {
  margin: 20px 0;
  height: 50px;
  font-size: 1em;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}
.ad-carousel .ad-list .ad-link {
  text-align: right;
  font-weight: 700;
}
.ad-carousel .ad-list .ad-link .ad-link-button {
  padding: 5px 10px;
}
.ad-carousel .ad-bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.ad-carousel .ad-bullets .bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #E6E6E6;
  background-color: #E6E6E6;
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 0 4px;
  border-radius: 50%;
}
.ad-carousel .ad-bullets .active {
  background-color: white;
}
.ad-carousel .ad-button-left, .ad-carousel .ad-button-right {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 50px;
  color: white;
  font-weight: 700;
}
.ad-carousel .ad-button-left {
  left: 0;
}
.ad-carousel .ad-button-right {
  right: 0;
}