@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #603535;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  overflow-x: hidden;
}

button {
  transition: 0.3s;
  color: #603535;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-device-width: 800px) {
  button:hover {
    background-color: transparent;
  }
}
.container {
  max-width: 1020px;
  margin: 0 auto;
}

input {
  outline: none;
}

@media (max-width: 500px) {
  .mobile-hidden {
    display: none !important;
  }
}
.header {
  box-shadow: 0 2px 4px -0.5px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.header .container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .title {
  order: 1;
  margin-right: 10px;
  color: #36DA93;
  font-size: 32px;
  letter-spacing: 0.2em;
}
.header .title .logo {
  height: 32px;
  margin-left: 4px;
  margin-top: -2px;
  color: transparent;
}
.header .login-area {
  order: 6;
  margin-left: 10px;
  position: relative;
}
.header .login-area .login-button {
  padding: 5px 10px;
  font-weight: 700;
}
.header .login-area .login-button:hover {
  background-color: #36DA93;
  color: white;
}
.header .category-buttons {
  order: 3;
  margin: 10px auto 10px 0;
  box-shadow: none;
}
.header .category-buttons .category-button {
  width: 70px;
  box-shadow: none;
}
.header .search-area {
  order: 5;
  display: block flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-left: auto;
  padding: 0 10px;
  border: 2px solid #36DA93;
  border-radius: 16px;
}
.header .search-area .filter-category {
  width: 70px;
  height: 36px;
  border-right: 1px solid #36DA93;
  text-indent: 8px;
}
.header .search-area .search-keyword-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .search-area .search-keyword-box .search-keyword-input {
  height: 36px;
  flex-grow: 1;
  text-indent: 8px;
}
.header .search-area .search-keyword-box .submit {
  height: 36px;
  width: 36px;
  font-size: 22px;
  color: #279c69;
}

@media (max-width: 1050px) {
  .header .login-area {
    order: 4;
  }
  .header .search-area {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .header .login-area {
    order: 2;
  }
  .header .category-buttons .category-button {
    width: calc((100vw - 20px) / 4);
  }
}
.middle-outlet {
  min-height: calc(100vh - 241px);
}

.footer {
  width: 100vw;
  background-color: #E6E6E6;
}
.footer .container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1020px;
}
.footer .footer-desc {
  text-align: center;
}
.footer .developers {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
}
.footer .developers .frontend,
.footer .developers .backend {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
}

.paging-box {
  align-items: center;
  width: 320px;
  margin: 10px auto;
}
.paging-box button {
  width: 40px;
  margin: 2px;
  padding: 2px;
  font-size: 16px;
  transition: none;
}
.paging-box button.active {
  color: #36DA93;
  font-weight: 700;
}
.paging-box .prev {
  float: left;
}
.paging-box .next {
  float: right;
}
.paging-box .invisible {
  visibility: hidden;
}
.paging-box .page-numbers {
  display: inline-block;
  width: 220px;
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
}

.search-desc {
  text-align: center;
  margin: 20px 10px 10px 10px;
}
.search-desc .search-keyword {
  display: inline-block;
  color: #36DA93;
  font-weight: 700;
  font-size: 2rem;
}

.category-buttons {
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}
.category-buttons .category-button {
  display: block;
  position: relative;
  width: 25%;
  padding: 8px;
  letter-spacing: 2px;
}
.category-buttons .active {
  font-weight: 700;
  box-shadow: 0 -2px 4px;
}
.category-buttons .active::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 40%;
  height: 4px;
  background-color: #36DA93;
  border-radius: 2px;
}

.concert-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.concert-category {
  color: #36DA93;
  text-indent: 20px;
  margin: 24px 0 8px 8px;
}

.concert-card {
  width: 200px;
  height: 380px;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
}
.concert-card .poster-box {
  text-align: center;
}
.concert-card .concert-poster {
  display: inline-block;
  margin: 0 auto;
}
.concert-card .concert-mini-info .info-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.concert-card .concert-mini-info .info-top-line .concert-title {
  font-size: 1em;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-top-line .like {
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 4px;
  font-weight: 700;
  transition: none;
}
.concert-card .concert-mini-info .info-top-line .like:hover {
  background-color: transparent;
}
.concert-card .concert-mini-info .info-bottom-line .concert-place {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-bottom-line .concert-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-bottom-line .reservation-tip {
  font-size: 0.8em;
  display: inline-block;
  padding: 2px;
  margin-top: 6px;
  font-weight: 700;
  color: #36DA93;
  border: 1px solid #36DA93;
  border-radius: 2px;
}
.concert-card .concert-mini-info .info-bottom-line .reservation-tip.hot {
  color: red;
  border-color: red;
}

.concert-card:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1016px) {
  .concert-card {
    margin: 0 calc((50vw - 416px) / 4);
  }
}
@media (max-width: 800px) {
  .concert-card {
    margin: 0 calc((50vw - 312px) / 3);
  }
}
@media (max-width: 600px) {
  .concert-card {
    margin: 0 calc((50vw - 210px) / 2);
  }
}
@media (max-width: 400px) {
  .concert-card {
    margin: 0 calc(50vw - 104px);
  }
}
.ad-carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.ad-carousel .ad-list {
  transition: transform 1s;
}
.ad-carousel .ad-list .slide {
  display: inline-block;
  padding: 20vw 10vw 10vw 10vw;
  background-size: cover;
  background-position: center;
}
.ad-carousel .ad-list .slide * {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.ad-carousel .ad-list .ad-desc {
  margin: 20px 0;
  height: 50px;
  color: #603535;
  text-shadow: 1px 1px 2px white;
  font-size: 1em;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
}
.ad-carousel .ad-list .ad-link {
  text-align: right;
}
.ad-carousel .ad-list .ad-link .ad-link-button {
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.ad-carousel .ad-bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.ad-carousel .ad-bullets .bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #E6E6E6;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 4px;
  border-radius: 50%;
}
.ad-carousel .ad-bullets .active {
  background-color: white;
}
.ad-carousel .ad-button-left, .ad-carousel .ad-button-right {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 4px black;
}
.ad-carousel .ad-button-left {
  left: 0;
}
.ad-carousel .ad-button-right {
  right: 0;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
  touch-action: cross-slide-x;
}

.scroll-x::-webkit-scrollbar {
  height: 12px;
}

.scroll-x::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-x::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
}

.scroll-x::-webkit-scrollbar-button {
  display: none;
}

.scroll-x:hover.scroll-x::-webkit-scrollbar-thumb {
  background-color: #36DA93;
}

@media (max-device-width: 800px) {
  .scroll-x::-webkit-scrollbar {
    display: none;
  }
}
.main-carousel-container {
  position: relative;
  width: 100%;
}
.main-carousel-container .responsible-carousel {
  margin-bottom: 4px;
}
.main-carousel-container .responsible-carousel .concert-list {
  width: 1020px;
}
.main-carousel-container .responsible-carousel .concert-card {
  margin: 6px 0;
}
.main-carousel-container .responsible-carousel .concert-card:first-child {
  margin-left: 8px;
}
.main-carousel-container .main-button-left, .main-carousel-container .main-button-right {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-weight: 700;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.main-carousel-container .main-button-left {
  left: 0;
}
.main-carousel-container .main-button-right {
  right: 0;
}

@media (max-width: 1016px) {
  .main-carousel-container {
    padding: 0 10px;
  }
  .main-carousel-container .main-button-left, .main-carousel-container .main-button-right {
    visibility: visible;
  }
}
.container {
  margin: 0 auto;
  max-width: 1020px;
}

.search-desc {
  text-align: center;
  margin: 20px 10px 10px 10px;
}
.search-desc .search-keyword {
  display: inline-block;
  color: #36DA93;
  font-weight: 700;
  font-size: 2rem;
}

.category-buttons {
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}
.category-buttons .category-button {
  display: block;
  position: relative;
  width: 25%;
  padding: 8px;
  letter-spacing: 2px;
}
.category-buttons .active {
  font-weight: 700;
  box-shadow: 0 -2px 4px;
}
.category-buttons .active::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 40%;
  height: 4px;
  background-color: #36DA93;
  border-radius: 2px;
}

.concert-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.concert-category {
  color: #36DA93;
  text-indent: 20px;
  margin: 24px 0 8px 8px;
}

.concert-card {
  width: 200px;
  height: 380px;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
}
.concert-card .poster-box {
  text-align: center;
}
.concert-card .concert-poster {
  display: inline-block;
  margin: 0 auto;
}
.concert-card .concert-mini-info .info-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.concert-card .concert-mini-info .info-top-line .concert-title {
  font-size: 1em;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-top-line .like {
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 4px;
  font-weight: 700;
  transition: none;
}
.concert-card .concert-mini-info .info-top-line .like:hover {
  background-color: transparent;
}
.concert-card .concert-mini-info .info-bottom-line .concert-place {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-bottom-line .concert-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.concert-card .concert-mini-info .info-bottom-line .reservation-tip {
  font-size: 0.8em;
  display: inline-block;
  padding: 2px;
  margin-top: 6px;
  font-weight: 700;
  color: #36DA93;
  border: 1px solid #36DA93;
  border-radius: 2px;
}
.concert-card .concert-mini-info .info-bottom-line .reservation-tip.hot {
  color: red;
  border-color: red;
}

.concert-card:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1016px) {
  .concert-card {
    margin: 0 calc((50vw - 416px) / 4);
  }
}
@media (max-width: 800px) {
  .concert-card {
    margin: 0 calc((50vw - 312px) / 3);
  }
}
@media (max-width: 600px) {
  .concert-card {
    margin: 0 calc((50vw - 210px) / 2);
  }
}
@media (max-width: 400px) {
  .concert-card {
    margin: 0 calc(50vw - 104px);
  }
}
.detail-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}
@media (max-width: 1000px) {
  .detail-container {
    width: auto;
  }
}
.detail-container .con-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  border-bottom: 2px solid #603535;
}
@media (max-width: 480px) {
  .detail-container .con-title-container {
    flex-direction: column;
  }
}
.detail-container .con-title-container .con-title .mini-data {
  margin: 10px 0;
}
.detail-container .con-title-container .con-title .mini-data .date {
  padding: 0 15px 0 1px;
  position: relative;
}
.detail-container .con-title-container .con-title .mini-data .date::after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background: #d6d6d6;
  position: absolute;
  top: 0;
  right: 0;
}
.detail-container .con-title-container .con-title .mini-data .location {
  padding: 0 13px;
}
.detail-container .con-title-container .con-title .title {
  font-size: 28px;
}
@media (max-width: 768px) {
  .detail-container .con-title-container .con-title .title {
    font-size: 24px;
  }
  .detail-container .con-title-container .con-title .mini-data {
    display: flex;
    flex-direction: column;
  }
  .detail-container .con-title-container .con-title .mini-data .date {
    padding: 0 10px 5px;
  }
  .detail-container .con-title-container .con-title .mini-data .date::after {
    display: none;
  }
  .detail-container .con-title-container .con-title .mini-data .location {
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .detail-container .con-title-container .con-title {
    width: 100%;
  }
  .detail-container .con-title-container .con-title .title {
    font-size: 20px;
  }
  .detail-container .con-title-container .con-title .mini-data {
    padding: 0;
    margin-bottom: 0;
  }
}
.detail-container .con-title-container .con-category {
  text-align: center;
  margin-right: 30px;
}
.detail-container .con-title-container .con-category button {
  width: 90px;
  color: #603535;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #603535;
}
.detail-container .con-title-container .con-category button:hover {
  background-color: #603535;
  color: white;
}
.detail-container .con-title-container .con-category button:active {
  background-color: black;
  position: relative;
  top: 2px;
}
@media (max-width: 768px) {
  .detail-container .con-title-container .con-category {
    margin: 0 0 10px;
    height: 82px;
    display: flex;
    align-items: flex-end;
  }
}
@media (max-width: 480px) {
  .detail-container .con-title-container .con-category {
    width: 100%;
    height: auto;
    justify-content: flex-end;
  }
}
.detail-container .con-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .detail-container .con-info {
    justify-content: center;
    align-items: center;
  }
}

.info-container {
  margin-top: 40px;
  width: 100%;
}
.info-container .info {
  width: 100%;
  display: flex;
  padding-bottom: 50px;
}
.info-container .info .info-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 40px;
}
.info-container .info .description {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.info-container .info .info-items {
  display: flex;
  flex-direction: column;
}
.info-container .info .info-items .info-item {
  display: flex;
  margin-top: 10px;
}
.info-container .info .info-items .info-item .item-name {
  width: 90px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.info-container .info p {
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .info-container .info .info-img {
    margin-right: 10px;
  }
  .info-container .info img {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .info-container .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-container .info .info-img {
    margin: 0 0 10px;
  }
}
.info-container .map {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.info-container .map .contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5px;
}
.info-container .map .contact span {
  margin: 0 10px 20px;
}
@media (max-width: 768px) {
  .info-container .map {
    width: 100%;
    font-size: 10px;
  }
  .info-container .map img {
    width: 100%;
  }
}

.chat-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
  padding: 0 100px;
  align-items: center;
  max-width: 800px;
}
@media (max-width: 768px) {
  .chat-list-container {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  .chat-list-container {
    padding: 0;
  }
}
.chat-list-container .chat-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-list-container .chat-list-header h1 {
  font-size: 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .chat-list-container .chat-list-header {
    flex-direction: column;
  }
  .chat-list-container .chat-list-header h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.chat-list-container .chat-list-header .header-right {
  display: flex;
}
.chat-list-container .chat-list-header .header-right .hashtag-search {
  display: flex;
  border-radius: 4px;
  margin-right: 10px;
}
.chat-list-container .chat-list-header .header-right .hashtag-search button {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  padding: 5px;
  text-align: center;
  width: 50px;
  border: 2px solid #603535;
  border-left: 1px solid #603535;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #603535;
  font-weight: 700;
}
.chat-list-container .chat-list-header .header-right .hashtag-search button:hover {
  background-color: #36DA93;
  color: white;
}
.chat-list-container .chat-list-header .header-right .hashtag-search button:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
.chat-list-container .chat-list-header .header-right .hashtag-search input {
  padding: 5px;
  min-width: 160px;
  border: 2px solid #603535;
  border-right: 1px solid #603535;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
}
.chat-list-container .chat-list-header .header-right .chat-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.chat-list-container .chat-list-header .header-right .chat-btn-container .create-chat {
  display: flex;
  align-items: center;
  height: 100%;
}
.chat-list-container .chat-list-header .header-right .chat-btn-container .create-chat .create-chat-btn {
  color: #603535;
  padding: 5px;
  color: #603535;
  font-weight: 700;
  border: 2px solid #603535;
  border-radius: 0.5rem;
  font-size: 14px;
  line-height: 18px;
}
.chat-list-container .chat-list-header .header-right .chat-btn-container .create-chat .create-chat-btn:hover {
  background-color: #36DA93;
  color: white;
}
.chat-list-container .chat-list-header .header-right .chat-btn-container .create-chat .create-chat-btn:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}

.list-container {
  width: 100%;
  padding: 0 10px;
  margin: 10px 0;
}
.list-container .chat-room {
  cursor: pointer;
  border: 2px solid #36DA93;
  border-radius: 16px;
  margin: 16px 0 0;
  padding: 16px 0 0;
}
.list-container .chat-room:hover {
  background-color: #36DA93;
  color: white;
}
.list-container .chat-room:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
@media (max-width: 769px) {
  .list-container .chat-room {
    padding: 2px 10px;
  }
}
.list-container .chat-room .chat-top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.list-container .chat-room .chat-top span {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .list-container .chat-room .chat-top span {
    font-size: 18px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .list-container .chat-room .chat-top span {
    font-size: 16px;
    padding: 0;
  }
}
.list-container .chat-room .chat-bottom {
  padding: 10px;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
@media (max-width: 768px) {
  .list-container .chat-room .chat-bottom {
    font-size: 14px;
    margin: 0 10px;
  }
}
@media (max-width: 480px) {
  .list-container .chat-room .chat-bottom {
    font-size: 12px;
    margin: 0 8px;
  }
}
.list-container .chat-room .chat-bottom .chat-tag span {
  padding: 1px 2px;
  border: 1px solid #603535;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 12px;
  color: #603535;
}
.list-container .chat-room .chat-bottom .member-num-container {
  display: flex;
}
.list-container .chat-room .chat-bottom .member-num-container .member-num {
  padding-right: 20px;
}
.list-container .room-msg-container {
  text-align: center;
  padding: 205px 50px;
}

.mychat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 580px;
  align-items: flex-start;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .mychat-container {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .mychat-container {
    width: 350px;
  }
}

.create-room-container {
  position: relative;
  z-index: 100;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}
@media (max-width: 480px) {
  .create-room-container {
    width: 300px;
  }
}
.create-room-container h1 {
  color: #36DA93;
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
}
.create-room-container .create-room {
  padding-bottom: 45px;
  width: 300px;
}
.create-room-container .create-room .input-container {
  border: 1px solid #36DA93;
  border-radius: 4px;
  padding: 10px;
  margin-top: 30px;
}
.create-room-container .create-room .input-container .label-wrap {
  margin-bottom: 3px;
}
.create-room-container .create-room .input-container .label-wrap span {
  font-size: 14px;
  margin-left: 20px;
  color: red;
}
.create-room-container .create-room .input-container label {
  font-size: 14px;
}
.create-room-container .create-room .input-container input {
  outline: none;
  width: 100%;
}
.create-room-container .create-room .hashtag-lists-container {
  margin: 5px;
}
.create-room-container .create-room .hashtag-lists-container .hashtag-lists {
  display: flex;
  flex-wrap: wrap;
}
.create-room-container .create-room .hashtag-lists-container .hashtag-lists .hashtag {
  text-align: center;
  min-width: 30px;
  border: 1px solid #603535;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px;
  margin: 1px;
}
.create-room-container .create-room .hashtag-lists-container .hashtag-lists .hashtag span {
  margin-right: 5px;
}
.create-room-container .create-room .hashtag-lists-container .hashtag-lists .hashtag button {
  font-size: 12px;
  color: rosybrown;
}
.create-room-container .create-room .submit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.create-room-container .create-room .submit-btn-container button {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  margin: 0 10px;
  border: 1px solid #36DA93;
}
.create-room-container .create-room .submit-btn-container button:hover {
  background-color: #36DA93;
  color: white;
}
.create-room-container .create-room .submit-btn-container button:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}

.modal {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #36DA93;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.chat-container {
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat-container .title {
  color: #36DA93;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}
.chat-container .chat-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.chat-container .chat-header .chat-room-name {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.chat-container .chat-header .chat-room-name h1 {
  font-size: 18px;
}
.chat-container .chat-header .chat-room-name h2 {
  font-size: 16px;
}
.chat-container .chat-header .toggle {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  display: flex;
  justify-content: center;
  border: none;
}
.chat-container .chat-header .toggle:hover {
  background-color: #36DA93;
  color: white;
}
.chat-container .chat-header .toggle:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
.chat-container .chat-header .toggle-lists {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 664px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 1px solid black;
  background-color: white;
}
.chat-container .chat-header .toggle-lists .toggle-close {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.chat-container .chat-header .toggle-lists .toggle-close button {
  width: 20px;
  height: 20px;
}
.chat-container .chat-header .toggle-lists .toggle-close button:hover {
  background-color: #36DA93;
  color: white;
}
.chat-container .chat-header .toggle-lists .toggle-close button:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
.chat-container .chat-header .toggle-lists .member-lists {
  padding: 20px;
}
.chat-container .chat-header .toggle-lists .member-lists .member-info {
  display: flex;
  align-items: center;
  padding: 10px;
}
.chat-container .chat-header .toggle-lists .member-lists .member-info .member-img {
  width: 30px;
  height: 30px;
  background-color: #36DA93;
  border-radius: 100%;
  text-align: center;
  margin-right: 10px;
}
.chat-container .chat-header .toggle-lists .chat-exit {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.chat-container .chat-header .toggle-lists .chat-exit button {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  width: 100px;
  border-radius: 16px;
}
.chat-container .chat-header .toggle-lists .chat-exit button:hover {
  background-color: #36DA93;
  color: white;
}
.chat-container .chat-header .toggle-lists .chat-exit button:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
.chat-container .chat-wrap {
  width: 400px;
  height: 667px;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
}
@media (max-width: 450px) {
  .chat-container .chat-wrap {
    width: 375px;
  }
}
.chat-container .chat-wrap .text-area {
  padding: 20px;
  height: 490px;
  font-size: 14px;
}
.chat-container .chat-wrap .text-area .member-other {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.chat-container .chat-wrap .text-area .member-other .profile-img {
  width: 30px;
  height: 30px;
  background-color: rosybrown;
  border-radius: 100%;
  margin-right: 10px;
}
.chat-container .chat-wrap .text-area .member-me {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.chat-container .chat-wrap .text-area .member-me .profile-img {
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 100%;
  margin-left: 10px;
}
.chat-container .chat-wrap .send-area {
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}
.chat-container .chat-wrap .send-area textarea {
  width: 300px;
  height: 80px;
  padding: 10px;
  line-height: 60px;
}
.chat-container .chat-wrap .send-area button {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  border-radius: 4px;
}
.chat-container .chat-wrap .send-area button:hover {
  background-color: #36DA93;
  color: white;
}
.chat-container .chat-wrap .send-area button:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}

.middle-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

#naver_id_login {
  display: inline-block;
}

.login-box {
  position: relative;
  max-width: 700px;
  min-height: 400px;
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 4px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 450px) {
  .login-box {
    box-shadow: none;
  }
}
.login-box .title {
  font-size: 2rem;
  color: #36DA93;
  text-align: center;
  margin-bottom: 12px;
}
.login-box .login-form {
  font-weight: 700;
}
.login-box .login-form table {
  min-width: 300px;
  border-collapse: separate;
  border-spacing: 0 8px;
  text-align: left;
  text-indent: 8px;
}
.login-box .login-form tr td:first-child {
  border: 1px solid #E6E6E6;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
.login-box .login-form tr td:last-child {
  border: 1px solid #E6E6E6;
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.login-box .login-form td.required::after {
  content: "*";
  color: red;
}
.login-box .login-form td input {
  width: 95%;
  padding: 6px;
  text-indent: 8px;
  line-height: 2em;
}
.login-box .login-form .login-button {
  display: block;
  width: 100%;
  padding: 6px;
  font-weight: 700;
  line-height: 2em;
  color: #36DA93;
  margin: 16px 0;
  background-color: transparent;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}
.login-box span[aria-hidden] {
  margin: 0 10px;
}
.login-box hr {
  margin: 12px 0;
}
.login-box .find-password-modal {
  width: 320px;
  padding: 20px;
  border: 2px solid #36DA93;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
.login-box .find-password-modal .find-password-modal-btn {
  margin: 10px 0 0 0;
  padding: 8px;
  color: white;
  font-weight: 700;
  background-color: #36DA93;
  border-radius: 4px;
}
.login-box .have-to-check {
  position: relative;
}
.login-box .have-to-check .signup-check {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: none;
  font-size: 0.8em;
  font-weight: 700;
  color: #36DA93;
  padding: 6px;
  border: 1px solid #36DA93;
  border-radius: 4px;
  background-color: white;
}

.signup-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 0 20px;
}
.signup-container .signup-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 10px;
}
.signup-container .signup-box .required::after {
  content: "*";
  color: red;
}
.signup-container .signup-box .input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 31px;
  padding: 0 5px;
  border-bottom: 1px solid #E6E6E6;
}
.signup-container .signup-box .input-container input {
  outline: none;
  font-size: 14px;
}
.signup-container .signup-box .input-container button {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  width: 50px;
  border-radius: 4px;
  padding: 4px 1px;
  margin: 2px;
  border: 1px solid #E6E6E6;
}
.signup-container .signup-box .input-container button:hover {
  background-color: #36DA93;
  color: white;
}
.signup-container .signup-box .input-container button:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
.signup-container .signup-box span {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 10px;
  font-weight: 500;
  color: red;
}
.signup-container .signup-box .available {
  color: blue;
}

.social-login-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-login {
  cursor: pointer;
}

.signup-modal {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 3px #603535;
}

.mypage-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.mypage-container .title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #603535;
  margin-bottom: 20px;
}
.mypage-container .breadcrumb-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.mypage-container .breadcrumb-container .location-desc {
  margin: 10px 0;
}
.mypage-container .breadcrumb-container .category {
  font-size: 28px;
  font-weight: 700;
}
.mypage-container .btn-container button {
  width: 90px;
  color: #603535;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #603535;
  width: 100px;
  margin-right: 20px;
}
.mypage-container .btn-container button:hover {
  background-color: #603535;
  color: white;
}
.mypage-container .btn-container button:active {
  background-color: black;
  position: relative;
  top: 2px;
}
.mypage-container .mypage-like-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1036px) {
  .mypage-container .mypage-like-list {
    width: 800px;
  }
}
@media (max-width: 1016px) {
  .mypage-container .mypage-like-list .concert-card {
    margin: 10px 0;
  }
}
@media (max-width: 830px) {
  .mypage-container .mypage-like-list {
    width: 600px;
  }
}
@media (max-width: 630px) {
  .mypage-container .mypage-like-list {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .mypage-container .mypage-like-list {
    width: 200px;
  }
}

.like-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.location-desc {
  margin: 10px 20px;
  font-size: small;
}

.profile-edit-form {
  display: flex;
  max-width: 700px;
  align-items: center;
  padding: 0 20px;
  margin: 40px auto 0 auto;
}
.profile-edit-form .edit-img-container {
  width: 300px;
  margin: 20px;
  text-align: center;
}
.profile-edit-form .edit-img-container .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.profile-edit-form .edit-user-info {
  width: 100%;
}
.profile-edit-form .edit-user-info .info-edit-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.profile-edit-form .edit-user-info .info-edit-container i {
  padding: 0 8px;
  font-size: 1.2em;
}
.profile-edit-form .edit-user-info .info-edit-container .info-edit-input {
  flex-grow: 1;
  border: 2px solid #E6E6E6;
  padding: 8px;
}
.profile-edit-form .edit-user-info .user-pw-edit {
  text-align: center;
  margin-top: 20px;
}
.profile-edit-form .edit-buttons {
  text-align: center;
}
.profile-edit-form .edit-btn {
  color: #36DA93;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid #36DA93;
  font-size: 1em;
  border-radius: 4px;
  padding: 3px;
  margin: 4px;
}
.profile-edit-form .edit-btn:hover {
  background-color: #36DA93;
  color: white;
}
.profile-edit-form .edit-btn:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}

@media (max-width: 800px) {
  .profile-edit-form {
    flex-direction: column;
  }
}
.password {
  display: block;
  max-width: 400px;
}
.password .change-password-title {
  margin-bottom: 36px;
}
.password .desc {
  font-size: 0.8em;
  padding: 8px;
  width: 100%;
}
.password .notice {
  color: red;
}
.password .notice::before {
  content: "*";
  color: red;
}
.password .info-edit-container {
  flex-direction: column;
}
.password .info-edit-container .info-edit-input {
  width: 100%;
  margin: 4px 0;
}
.password .info-edit-container .edit-btn {
  width: 100px;
  margin: 20px 8px;
}

.not-robot {
  width: 100%;
  border-collapse: collapse;
  background-color: #E6E6E6;
}
.not-robot td {
  border: 1px solid #603535;
}
.not-robot .not-robot-img {
  width: 250px;
  height: 70px;
}
.not-robot .not-robot-button {
  margin: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.profile-modal-container {
  position: absolute;
  right: 0;
  z-index: 99;
  display: flex block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 40px 0px;
  border-radius: 8px;
  background-color: white;
  padding-top: 20px;
  width: 140px;
  text-align: center;
}
.profile-modal-container .profile-modal-title {
  margin-bottom: 5px;
  color: #279c69;
}
.profile-modal-container .profile-modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.profile-modal-container .profile-modal-info .profile-modal-img {
  border-radius: 100%;
  margin-bottom: 10px;
}
.profile-modal-container .profile-modal-info .profile-modal-nickname {
  font-weight: bold;
}
.profile-modal-container .profile-modal-btn {
  border-top: 1px solid #603535;
  width: 100%;
  padding: 10px 0;
  color: #603535;
  font-size: 12px;
}
.profile-modal-container .profile-modal-btn:hover {
  background-color: #36DA93;
  color: white;
}
.profile-modal-container .profile-modal-btn:active {
  background-color: #279c69;
  position: relative;
  top: 2px;
}
.profile-modal-container .logout-btn {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}