@import "../../base/mixin";

.ad-carousel {
	position: relative;
	width: 100vw;
	overflow: hidden;
	.ad-list {
		transition: transform 1s;
		.slide {
			position: relative;
			height: 140vw;
			display: inline-block;
			background-size: cover;
			text-align: right;
		}
		.ad-link-button {
			position: absolute;
			bottom: 20vw;
			right: 20vw;
			padding: 10px 20px;
			font-weight: 700;
			border-radius: 4px;
			background-color: $main-color;
		}
	}
	
	.ad-bullets {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		.bullet {
			display: inline-block;
			width: 8px;
			height: 8px;
			background-color: rgba(0,0,0,0.2);
			margin: 0 4px;
			border-radius: 50%;
		}
		.active {
			background-color: white;
		}
	}

	.ad-button-left, .ad-button-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		height: 40px;
		width: 40px;
		font-weight: 700;
		color: $text-color;
		background-color: white;
		border-radius: 50%;
	}
	.ad-button-left {
		left: 0;
	}
	.ad-button-right {
		right: 0;
	}
}

@media(min-width: 800px) {
	.ad-carousel .ad-list .slide {
		height: 800px;
		background-position: center;
	}
}