.ad-carousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	.ad-list {
		transition: transform 1s;
		.slide {
			display: inline-block;
			padding: 30px 50px;
			background-color: pink;
			border: 1px solid blue;
		}

		.ad-desc {
			margin: 20px 0;
			height: 50px;
			@include multi-ellipsis(1em, 1.2em, 2)
		}
		.ad-link {
			text-align: right;
			.ad-link-button {
				padding: 5px 10px;
				font-weight: 700;
				color: white;
				border-radius: 4px;
				box-shadow: 0 0 4px rgba(0,0,0,0.2);
			}
		}
	}
	
	.ad-bullets {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		.bullet {
			display: inline-block;
			width: 8px;
			height: 8px;
			border: 1px solid $background-color;
			background-color: $background-color;
			box-shadow: 1px 2px 6px 0 rgba(0,0,0,0.2);
			margin: 0 4px;
			border-radius: 50%;
		}
		.active {
			background-color: white;
		}
	}

	.ad-button-left, .ad-button-right {
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 50px;
		color: white;
		font-weight: 700;
	}
	.ad-button-left {
		left: 0;
	}
	.ad-button-right {
		right: 0;
	}
}