@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container {
  margin: 0 auto;
  max-width: 1020px;
}

.search-desc {
  text-align: center;
  margin: 20px 10px 10px 10px;
  .search-keyword {
    display: inline-block;
    color: $main-color;
    font-weight: 700;
    font-size: 2rem;
  }
}

.category-buttons {
  margin-bottom: 10px;
  display: flex;
  .category-button {
    display: block;
    position: relative;
    width: 25%;
    padding: 8px;
    letter-spacing: 2px;
  }
  .active {
    font-weight: 700;
  }
  .active::after {
    content: "";
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    width: 40%;
    height: 4px;
    background-color: $main-color;
    border-radius: 2px;
  }
}

.concert-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.concert-category {
  color: $main-color;
  text-indent: 20px;
  margin: 24px 0 8px 8px;
}

.concert-card {
  width: 200px;
  height: 380px;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  .poster-box {
    text-align: center;
  }
  .concert-poster {
    display: inline-block;
    max-width: 180px;
    height: 240px;
    margin: 0 auto;
  }
  .concert-mini-info {
    .info-top-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .concert-title {
        font-size: 1em;
        margin: 8px 0;
        @include ellipsis;
      }
      .like {
        cursor: pointer;
        font-size: 1.2em;
        margin-left: 4px;
        font-weight: 700;
        transition: none;
      }
      .like:hover {
        background-color: transparent;
      }
    }

    .info-bottom-line {
      .concert-place {@include ellipsis;}
      .concert-date {@include ellipsis;}
      .reservation-tip {
        font-size: 0.8em;
        display: inline-block;
        padding: 2px;
        margin-top: 6px;
        font-weight: 700;
        color: $main-color;
        border: 1px solid $main-color;
        border-radius: 2px;
      }
      .reservation-tip.end {
        color: red;
        border-color: red;
      }
      .reservation-tip.waiting {
        color: purple;
        border-color: purple;
      }
    }
  }
}

@media (max-width: 1016px) {
  .concert-card {
    margin: 0 calc((50vw - 416px) / 4);
  }
}
@media (max-width: 800px) {
  .concert-card {
    margin: 0 calc((50vw - 312px) / 3);
  }
}
@media (max-width: 600px) {
  .concert-card {
    margin: 0 calc((50vw - 210px) / 2);
  }
}
@media (max-width: 400px) {
  .concert-card {
    margin: 0 calc(50vw - 104px);
  }
}
