@import "../../base/mixin";

.detail-container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  @media (max-width: 1000px) {
    width: auto;
  }

  .con-title-container {
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid $text-color;
    .con-title {
      padding-bottom: 10px;
      .mini-data {
        margin: 10px 0;
        .date {
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 14px;
            background: #d6d6d6;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .location {
          padding: 0 13px;
        }
      }
      .title {
        font-size: 28px;
      }
      @media (max-width: 768px) {
        .title {
          font-size: 24px;
        }
        .mini-data {
          display: inline-flex;
          flex-direction: column;
          .date {
            padding: 0 10px 5px;
            &::after {
              display: none;
            }
          }
          .location {
            padding: 0 10px;
          }
        }
      }
      @media (max-width: 480px) {
        width: 100%;
        .title {
          font-size: 20px;
        }
        .mini-data {
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
    .con-category {
      display: flex;
      align-items: end;
      justify-content: space-between;
      button {
        @include category-btn;
        width: auto;
      }
    }
  }

  .con-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }
  }
}
