@import "../../base/mixin";

.detail-container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  @media (max-width: 900px) {
    width: auto;
  }

  .con-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    border-bottom: 2px solid $text-color;
    .con-title {
      .mini-data {
        margin: 10px 0;
        .date {
          padding: 0 15px 0 1px;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 14px;
            background: #d6d6d6;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .location {
          padding: 0 13px;
        }
      }
      .title {
        font-size: 28px;
      }
    }
    .con-category {
      text-align: center;
      margin-right: 30px;
      button {
        @include category-btn
      }
    }
  }

  .con-info {
    display: flex;
    flex-direction: column;
  }
}