.scroll-x {
	overflow-x: scroll;
	overflow-y: hidden;
	touch-action: cross-slide-x;
}
.scroll-x::-webkit-scrollbar {
    height: 12px;
}
.scroll-x::-webkit-scrollbar-track {
    background-color: transparent;
}
.scroll-x::-webkit-scrollbar-thumb { 
	border-radius: 4px;
    background-color: transparent;
}
.scroll-x::-webkit-scrollbar-button {
    display: none;
}
.scroll-x:hover.scroll-x::-webkit-scrollbar-thumb {
	background-color: $main-color;
}
@media (max-device-width:800px) {
	.scroll-x::-webkit-scrollbar {
		display: none;
	}
}

.main-carousel-container {
	position: relative;
	width: 100%;
	.responsible-carousel {
		margin-bottom: 4px;
		.container {height: 476px;}
		.concert-list {
			display: flex;
			flex-wrap: nowrap;
			min-height: auto;
		}
		.concert-card {
			margin: 0;
			flex-shrink: 0;
		}
	}
}