.container {
  .title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .breadcrumb-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .location-desc{
      margin: 10px 0;
    }  
  }
  .btn-container {
    button{
      @include category-btn;
      width: auto;
      margin-right: 20px;
    }
  }
}