@import "../../base/mixin";
.chat-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    .chat-room-name {
      flex-grow: 1;
      text-align: center;
      padding: 10px;
    }
    .toggle {
      @include btn-square;
      text-align: center;
      border: none;
    }
    .toggle-lists {
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
      height: 664px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      border-left: 1px solid black;
      background-color: white;
      .toggle-close {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        button {
          width: 20px;
          height: 20px;
          @include click-css;
        }
      }
      .member-lists {
        padding: 20px;
        .member-info {
          display: flex;
          align-items: center;
          padding: 10px;
          .member-img {
            width: 30px;
            height: 30px;
            background-color: $main-color;
            border-radius: 100%;
            text-align: center;
            margin-right: 10px;
          }
          .member-name {
            flex-grow: 1;
          }
          .force-out {
            border: 1px solid $main-color;
            border-radius: 4px;
            padding: 4px;
            font-size: 0.8em;
            font-weight: 700;
          }
        }
      }
      .chat-exit {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        button {
          @include btn-square;
          width: 100px;
          border-radius: 16px;
        }
      }
    }
  }
  .chat-wrap {
    display: flex;
    flex-direction: column;
    .text-area {
      flex-grow: 1;
      overflow-y: scroll;
      padding: 20px;
      background-color: $background-color;
      .messages > * {margin: 8px 0;}
      .profile-img {
        flex-shrink: 0;
        flex-grow: 0;
        overflow: hidden;
        width: 30px;
        height: 30px;
        background-color: rosybrown;
        border-radius: 100%;
        margin-right: 10px;
      }
      .profile-img.invisible {
        visibility: hidden;
      }
      .username {
        margin-bottom: 4px;
      }
      .chat-message-info {
        display: flex;
        align-items: end;
      }
      .text {
        word-break: break-all;
        border: 1px solid $main-color;
        border-radius: 10px;
        padding: 4px 8px;
        background-color: white;
      }
      .message-time {
        color: gray;
        font-size: 12px;
        margin: 0 4px;
      }
      
      .member-other {
        display: flex;
      }
      .member-me {
        .profile-img {display: none;}
        .chat-message-info {
          justify-content: flex-end;
        }
       .text {
        order: 1;
        background-color: $main-color;
        color: white;
       }
      }
      .system-message {
        .profile-img, .message-time {
          display: none;
        }
        .text {
          font-size: 12px;  
          border: none;
          text-align: center;
        }
      }
    }
    .send-area {
      height: 80px;
      display: flex;
      align-items: center;
      textarea {
        flex-grow: 1;
        height: 100%;
        padding: 10px;
        line-height: 1.2em;
        resize: none;
      }
      button {
        @include btn-square;
        height: 100%;
        border-radius: 4px;
        visibility: hidden;
      }
      button.active {
        visibility: visible;
      }
    }
  }
}
