@import "../../base/mixin";
.mychat-container {
  @include main;
  align-items: flex-start;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    width: 450px;
  }
  @media (max-width: 480px) {
    width: 350px;
  }
}
